/XF.TextIcon/XF.TextIcon.Droid/bin/Debug
/XF.TextIcon/XF.TextIcon.Droid/obj
/XF.TextIcon/XF.TextIcon.Forms/bin
/XF.TextIcon/XF.TextIcon.Forms/obj
/XF.TextIcon/XF.TextIcon.iOS/bin
/XF.TextIcon/XF.TextIcon.iOS/obj
/XF.TextIcon/XF.TextIcon.Sample/XF.TextIcon.Sample/bin
/XF.TextIcon/XF.TextIcon.Sample/XF.TextIcon.Sample/obj
/XF.TextIcon/XF.TextIcon.Sample/XF.TextIcon.Sample.Android/bin
/XF.TextIcon/XF.TextIcon.Sample/XF.TextIcon.Sample.Android/obj
/XF.TextIcon/XF.TextIcon.Sample/XF.TextIcon.Sample.iOS/bin
/XF.TextIcon/XF.TextIcon.Sample/XF.TextIcon.Sample.iOS/obj
/XF.TextIcon/.vs/XF.TextIcon/DesignTimeBuild/.dtbcache
/XF.TextIcon/.vs/XF.TextIcon/v16/.suo
/XF.TextIcon/.vs/XF.TextIcon/v16/Server/sqlite3/db.lock
/XF.TextIcon/.vs/XF.TextIcon/v16/Server/sqlite3/storage.ide
/XF.TextIcon/packages
